@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form {
  @apply w-screen h-screen relative;
}

.login-form .login-bg {
  @apply fixed inset-0 bg-cover bg-no-repeat -z-10;
  background-image: url("../assets/images/form-bg.jpeg");
}

.login-form form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-form label {
  @apply text-white text-lg block mb-2;
}

.login-form .login-input {
  @apply text-white border border-white/40 rounded-md block bg-transparent w-full p-2;
}

.login-form .login-input:focus {
  @apply border-2;
}